body{
     width: 100vw;
     height: max-content;
     background-color: #FFB200;
}
.plus{
     position: fixed;
     bottom: 1%;
     right: 1%;
     transform: translate(-50%,-50%);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     cursor: pointer;
     transition: 1s;
     background-color: #333;
     border-radius: 100%;
     width: 50px;
     height: 50px;
}
.new{
     width: 80vw; 
     top: 15%;
     left: 10%;
     position: absolute;
     background-color: #333;
     padding: 20px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     display: none;
     border-radius: 30px;
}
input, textarea{
     background-color: transparent;
}
input::placeholder, textarea::placeholder{
     color: #FFB200;
     font-weight: 900;
}
.vv{
     text-align: center;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.title{
     width: 100%;
     border: none;
     border-bottom: 1px solid #fff;
     text-indent: 1.5%;
     outline: none;
}
.pin{
     font-size: 20px;
     padding: 10px;
     cursor: pointer;
}
#note{
     width: 100%;
     border: none;
     text-indent: 1.5%;
     outline: none;
}
#savednotes{
     width: 100%;
     padding: 20px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 30px;
}
#savenote{
     width: 100%;
     padding: 20px;
     background-color: #333;
     height: max-content;
     color: #fff;
     border-radius: 20px;
     overflow: hidden;
}
#title{
     font-size: 20px;
     font-weight: 900;
     text-transform: capitalize;
     border-bottom: #FFB200 2px solid;
}
#content{
     height: 200px;
     text-wrap: wrap;
}