*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     /* color: #FEFEFA, #020F49, #FFB200, #333, #00000030, #fff, #fefefa28; */
}
body{
     background-color: #FFB200;
}
section{
    background-color: #fefefa28;
    width: 30%;
    /* height: 70vh; */
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.desicrip{
     text-transform: capitalize;
}
.sss input{
     width: 70%;
     padding: 10px;
     border: none;
     border-bottom: 1px solid #333;
     color: #333;
     border-top: none;
     margin-top: 10px;
     background-color: transparent;
}
.search{
     width: 20%;
     padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: #fff;
     cursor: pointer;
}
.cityyy{
     text-transform: uppercase;
     font-size: 30px;
     margin-top: 10px;
     font-weight: 800;
}
.country{
     font-size: 15px;
     margin-top: 10px;
     font-weight: 600;
}
.desicrip{
     font-size: 25px;
     margin-top: 10px;
     font-weight: 800;
}
.weathericon{
    width: 50px;
    height: 50px;
    margin: auto;
}
img{
     width: 100%;
     height: 100%;
}
.temp{
     font-size: 40px;
     margin-top: 10px;
     font-weight: 800;
}
.deg{
     display: flex;
     justify-content: center;
     align-items: center;
}
.mini{
     font-size: 20px;
     margin-top: 10px;
     font-weight: 800;
     padding: 5px;
}
.minii{
     border-right: 2px solid black;
}