* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style: none;
     /* border: 1px solid violet; */
     /* overflow: hidden; */
     /* color: #FEFEFA, #020F49, #FFB200, #333, #00000030, #fff, #fefefa28; */
}
/* Initially hide the content with the 'hidden' class */
.hidden {
     display: none;
}   
/* Styling for the loading display */
.loading {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(255, 255, 255, 0.8);
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     flex-direction: column;
     align-items: center;
     text-align: center;
     font-size: 30px;
}
.spinner {
     border: 4px solid rgba(0, 0, 0, 0.1);
     border-top: 4px solid #FFB200;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     animation: spin .5s linear infinite;
     margin-bottom: 10px;
}
@keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
}

body {
     overflow-x: hidden;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     /* position: relative; */
     width: 100%!important;
}
.hero{
     background-color: #FFB200;
     padding: 50px;
     place-items: center;
     background-color: #FFB200;
}
.navbar {
     background-color: rgb(77, 77, 77);
     padding: 10px 20px;
     color: #FEFEFA;
}
.brand {
     font-size: 40px;
     font-weight: 900;
     color: #FFB200;
     text-shadow: 2px 2px 5px #FEFEFA;
}
.brand:hover{
     color: #FEFEFA;
}
.nav-links {
     float: right;
     list-style: none;
     display: flex;
     justify-content: space-between;
     place-items: center;
     
}
 .links {
     display: flex;
     gap: 20px;
 }
 .nav-links li {
     list-style: none;
 }
 
 .links a {
     text-decoration: none;
     color: #FEFEFA;
     font-size: 20px;
 }
 
 .btns {
     padding: 10px;
}
.part1 {
     display: flex;
     flex-direction: column;
     place-items: center;
     justify-content: center;
     gap: 30px;
}
.catch {
     font-size: 25px;
     color: #333;
     text-align: center;
}
.button {
     padding: 5px;
     border: 2px solid #333;
     font-size: 20px;
     border-radius: 10px;
     background-color: #020F49;
     color: #FEFEFA;
     text-decoration: none;
}
.part2 {
     background-color: #fefefa28;
     /* border: #333 1px solid; */
     border-radius: 20%;
}
.part2 img {
     width: 100%;
     height: 100%;  
     object-fit: cover;
}

.details {
     display: flex;
     gap: 10px;
     align-items: center;
}

.btn-prim {
     background-color: #FFB200;
     color: #333;
     border: 2px solid #FEFEFA;
     box-shadow: 2px 2px 5px #FEFEFA;
}
.modal-header h1{
     border: none!important;
     text-shadow: #FFB200 2px 2px 10px!important;
     color: #333!important;
}

.Uname {
     font-weight: 200;
     font-size: small;
     color: #FFB200;
}
.chgpsd{
     font-size: smaller;
     cursor: pointer;
     margin-top: -10px;
}
.chgpsd:hover{
     color: #FFB200;
}
.btn-prim {
     background-color: #FFB200;
     color: #333;
     border: 2px solid #FEFEFA;
     box-shadow: 2px 2px 5px #FEFEFA;
}
i, .text-prim, label {
     color: #FFB200;
}
.bg-ligh{
     background-color: #FFB200;
}

/* Form 1 */
.form-page{
     height: 95vh;
     position: absolute;
     top: 10%;
     display: none;
}
 
.container{
     width: 40%;
     background-color: rgb(77, 77, 77);
     border-radius: 15px;
     justify-content: center;
     margin: auto;
     color: #fff;
     height: 75%;
     overflow-x: hidden;
}



.steps{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     border-bottom: 1px solid #333;
     position: relative;
}

.steps div{
padding: 7px 10px;
text-align: center;
}

.step1{
border-right: 1px solid #333;
}

.step3{
border-left: 1px solid #333;
}

.step1, .step2, .step3{
z-index: 1;
}

.line1, .line111{
position: absolute;
width: 33.3%;
top: 0;
bottom: 0;
background-color: #333;
/* display: none; */
}
.line2, .line222{
position: absolute;
width: 66.6%;
top: 0;
bottom: 0;
background-color: #333;
display: none;
}
.line3, .line333{
position: absolute;
width: 100%;
top: 0;
bottom: 0;
background-color: #333;
display: none;
}

.forms{
     width: 100%;
     position: relative;
}

.form1, .form2, .form3, .form11{
position: absolute;
height: 100%;
}

.form1{
     top: 50px;
     left: 10%;
     transition: 1s;
}
.form2{
     top: 50px;
     left: 110%;
     transition: 1s;
}
.form3{
     top: 50px;
     left: 160%;
     transition: 1s;
}
.for {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.label{
margin: auto;
display: grid;
}

input{
     border: none;
     border-bottom: 1px solid #333;
     border-radius: 10px;
     margin: 15px;
     outline: none;
     padding: 0 10px;
     background-color: #fff;
     color: #333;
}
#ckbox, #cKbox{
     width: 25px;
     height: 25px;
}



.movement {
     width: 100%;
     display: flex;
     justify-content: space-between;
}
.next {
     padding: 7px 15px;
     float: right;
     border: 1px #333 solid;
     background-color: transparent;
     color: #fff;
     border-radius: 6px;
     transition: .2s;
}
.next:hover {
     background-color: #fff;
     color: #333;
}
.back {
     padding: 7px 15px;
     float: left;
     border: 1px #333 solid;
     background-color: transparent;
     color: #fff;
     border-radius: 6px;
     transition: .2s;
}
.back:hover {
     background-color: #fff;
     color: #333;
}
.sigg, .opp, #profilee{
     display: none;
}
.opni{
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
     align-items: center;
     place-items: center;
}
.bttt{
     background-color: #FFB200;
}
.btt{
     background-color: #FEFEFA;
     color: #FFB200;
}
.stee{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     justify-content: center;
     align-items: center;
}
.lin1{
     width: 50%;
}
.lin2{
     width: 100%;
}
.d-f{
     display: flex;
     flex-direction: column;
}
form{
     display: flex;
     flex-direction: column;
     gap: 20px;
     width: 200px;
}

/* Sign In */
.form11{
     top: 50px;
     left: 30%;
     transition: 1s;
}

/* Change Password */
.form111, .form222, .form333, .form3334{
     position: absolute;
     height: 100%;
}
.form111{
     top: 20px;
     left: 30%;
     transition: 1s;
}
.form222{
     top: 20px;
     left: 110%;
     transition: 1s;
}
.form333{
     top: 20px;
     left: 160%;
     transition: 1s;
}
.form3334{
     top: 20px;
     left: 30%;
     transition: 1s;
     display: none;
}
.forpsd{
     font-size: smaller;
     cursor: pointer;
     margin-top: -10px;
}
.forpsd:hover{
     color: #FFB200;
}

.password{
     position: relative;
}
.password input{
     border: 0;
     border-radius: 10px;
     font-size: 1rem;
     letter-spacing: 1px;
     box-sizing: border-box;
}
.password input:focus{
     outline: none;
}
.password input::placeholder{
     color: #000;
     font-weight: bold;
}
.password i{
     position: absolute;
     right: 20px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     user-select: none;
}
.prole-img img{
     width: 100%;
     height: 100%;
     border-radius: 100%;
     object-fit: cover;
}
.prole-img{
     width: 100px;
     height: 100px;
     object-fit: cover;
     position: relative;
     cursor: pointer;
}
img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.pp{
     display: flex;
     border-radius: 100%;
     gap: 10px;
     position: absolute;
     background-color: #000000b1;
     width: 100px;
     height: 100px;
     top: 15px;
     justify-content: center;
     align-items: center;
     display: none;
}
.fa-camera{
     font-size: 30px;
     cursor: pointer;
}
.propety{
     position: absolute;
     width: max-content;
     height: max-content;
     text-align: center;
     background-color: #333333c0;
     display: none;
     padding: 10px;
}
.bcol{
     background: linear-gradient(to top, #FFB200 50%, #333 50%);
     cursor: pointer;
}
.propet img{
     width: 200px;
     height: 200px;
     object-fit: cover;
}
@media (max-width: 600px) {
*{
     font-size: 20px!important;
}
body{
     width: 100%;
}
.navbar {
     width: 100%;
}
.catch{
     font-weight: 900!important;
     color: black!important;
     /* background-color: #fefefa18; */
     text-shadow: 1px 1px 20px #fff;
}
.part2{
     opacity: 90%!important;
}
.hero {
     position: relative;
     display: block;
     background: transparent;      
     width: 100vw;
}
.part1 {
     width: 100vw;
     height: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     z-index: 1;
}
.part2 {
     width: 100vw;
     height: 100%;
     position: absolute;
     left: 0px;
     top: 0px;
     z-index: -1;
     background-color: #FFB200;
     border-radius: 0;
}
.part2 img {
     object-fit: contain;
}
}
